h1 {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 32px;	
}

h2 {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 26px;
}

.textwrap {
	margin-left: 10%;
	margin-right: 20%;
	border-top: 20%;
	border-width: 80%;
	border-color: #2E2E2E;
	font-family: Helvetica;
}

.horizline {
    min-height: 1px;
    clear: both; 
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    height: 1px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}