h1 {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 36px;
	text-align: left;	
}

h2 {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 24px;
	text-align: left;
}

p {
	font-size: 18px;
}

.textwrap {
	margin-left: 10%;
	margin-right: 30%;
	border-top: 20%;
	border-width: 80%;
	border-color: #2E2E2E;
	font-family: Helvetica;
}

.headshot {
	width: 100px;
	height: 100px;
	border-radius: 25px;
}

.horizline {
    min-height: 1px;
    clear: both; 
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    height: 1px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}