h1 {
	font-family: "HelveticaNeue-Light";
	font-weight: 500;
	font-size: 200%;
	color: #2E2E2E;
	text-align: center;
	text-decoration: none;
}


p {
	background: white;
	font-family: "HelveticaNeue-Light";
}

h2 {
   font-family: "HelveticaNeue-Light";
   font-weight: 300;
   text-align: center;
}

h2 a {
   text-decoration: none;
}

#centerpage {
	border-style: groove;
	border-radius: 5px;
	margin: 10%;
	padding: 10%;
}

.linkwrapper {
	margin: 0-auto;
}

.links {
	text-decoration: none;
	font-family: "HelveticaNeue-Light";
    font-weight: 300;
    text-align: center;
	color: whitesmoke;
	padding: 7px;
	background-color: #4AAEFF;
	border-radius: 5px;

}

.links:hover {
	background-color: #4AAEFF;
}









