h1 {
	font-family: "HelveticaNeue-Light";
	font-weight: 500;
	font-size: 200%;
	color: #2E2E2E;
	text-align: center;
	text-decoration: none;
}

#name {
	text-decoration: none;
}

#name:hover {
	text-decoration: none;
}

p {
	background: white;
	font-family: "HelveticaNeue-Light";
	font-size: 12px;
	margin-bottom: -.5%;
}

h2 {
   font-family: "HelveticaNeue-Light";
   font-weight: 300;
   text-align: center;
}

h2 a {
   text-decoration: none;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 5%
}

#centerpage {
	border-style: groove;
	border-radius: 5px;
	margin: 10%;
	padding: 7%;
}


/*.links {
	text-decoration: none;
	font-family: "HelveticaNeue-Light";
    font-weight: 300;
	color: whitesmoke;
	padding: 7px;
	margin-right: 2%;
	margin-left: 2%;
	background-color: #4AAEFF;
	border-radius: 5px;

} */

.button1 {
	font-family: "HelveticaNeue-Light";
	font-weight: 340;
	border-radius: 5px;
	border-spacing: 5px;
	background-color: #BABABA;
	padding: 4px;
	margin-left: 43%;
	margin-right: 0%;
}

.photo {
	margin-left: 27%;
	margin-right: 27%;
	margin-top: 20px;
}

.button2 {
	font-family: "HelveticaNeue-Light";
	font-weight: 340;
	border-radius: 5px;
	border-spacing: 5px;
	background-color: #BABABA;
	padding: 4px;
	margin-right: 30%;
	margin-left: 2%;
}

.links:hover {
	background-color: #4AAEFF;
}









