#name {
	text-decoration: none;
}

#name:hover {
	text-decoration: none;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
	font-family: Helvetica;
	font-style: oblique;
	font-color: black;
	padding-left: 25px;
}

ul {
	font-family: Helvetica;
	font-size: 14px;
}