h2 {
	font-size: 20px;
	margin-top: -1%;
}

h2 a:link {
	text-decoration: none;
	color: black;
}

h3 {
	font-family: "HelveticaNeue";
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	padding-bottom: 0px;
}

#name {
	text-decoration: none;
	color: black;
}

#name:visited {
	text-decoration: none;
	color: black;
}

#name:link {
	text-decoration: none;
	color: black;
}

h4 {
	font-family: "HelveticaNeue-Light";
	font-weight: 300;
	font-size: 16px;
	text-align: left;
}

.reswrapper {
	padding: 3%;
	margin: .3%;
}

ul {
	background: white;
	font-family: "HelveticaNeue-Light";
	font-size: 12px;
	margin-bottom: -.5%;
}

.list {
	margin-right: 5%;
	font-family: Helvetica;
	font-size: 15px;
}